{% extends "base.html" %} {% block title %}Sign Up{% endblock %} {% block
content %}
<div class="container mt-5" style="max-width: 600px">
  <h1 class="mb-4">Create Account</h1>
  <p>*Note: This feature does not work</p>
  {% if error %}
  <div class="alert alert-danger" role="alert">{{ error }}</div>
  {% endif %}

  <form method="POST" action="{{ url_for('signup') }}">
    <div class="mb-3">
      <label class="form-label">Name</label>
      <input type="text" name="name" class="form-control" required />
    </div>

    <div class="mb-3">
      <label class="form-label">Email</label>
      <input type="email" name="email" class="form-control" required />
    </div>

    <div class="mb-3">
      <label class="form-label">Password</label>
      <input type="password" name="password" class="form-control" required />
    </div>

    <div class="mb-3">
      <label class="form-label">Re-enter Password</label>
      <input
        type="password"
        name="confirm_password"
        class="form-control"
        required
      />
    </div>

    <div class="col-md-12">
      <button type="submit" class="btn btn-primary w-100 mb-5">Sign Up</button>
    </div>
  </form>
  <div class="col-md-12">
    <a href="{{ url_for('signup') }}" class="btn btn-primary w-100"
      >Already has an account? Click here instead!</a
    >
  </div>
</div>
{% endblock %}
