{% extends 'base.html' %} {% block title %}Tutorials - EditPro{% endblock %} {%
block content %}

<div class="container py-5">
  <h1 class="text-center mb-3">Video Tutorials</h1>

  <p class="text-center mb-5">
    Learn how to create amazing edits with these beginner and advanced
    tutorials.
  </p>

  <div class="row g-4">
    <!-- Video 1 -->
    <div class="col-md-6 col-lg-4">
      <div class="card shadow h-100">
        <a href="https://youtu.be/P51CqlPOE_w" target="_blank">
          <img
            src="https://img.youtube.com/vi/P51CqlPOE_w/maxresdefault.jpg"
            class="card-img-top"
            alt="Tutorial 1"
          />
        </a>
        <div class="card-body">
          <h5 class="card-title">Tutorial 1</h5>
        </div>
      </div>
    </div>

    <!-- Video 2 -->
    <div class="col-md-6 col-lg-4">
      <div class="card shadow h-100">
        <a href="https://youtu.be/Tx3_I9TCYNA" target="_blank">
          <img
            src="https://img.youtube.com/vi/Tx3_I9TCYNA/maxresdefault.jpg"
            class="card-img-top"
            alt="Tutorial 2"
          />
        </a>
        <div class="card-body">
          <h5 class="card-title">Tutorial 2</h5>
        </div>
      </div>
    </div>

    <!-- Video 3 -->
    <div class="col-md-6 col-lg-4">
      <div class="card shadow h-100">
        <a href="https://youtu.be/QTiTuerA0-c" target="_blank">
          <img
            src="https://img.youtube.com/vi/QTiTuerA0-c/maxresdefault.jpg"
            class="card-img-top"
            alt="Tutorial 3"
          />
        </a>
        <div class="card-body">
          <h5 class="card-title">Tutorial 3</h5>
        </div>
      </div>
    </div>

    <!-- Video 4 -->
    <div class="col-md-6 col-lg-4">
      <div class="card shadow h-100">
        <a href="https://youtu.be/I49YEojjtf8" target="_blank">
          <img
            src="https://img.youtube.com/vi/I49YEojjtf8/maxresdefault.jpg"
            class="card-img-top"
            alt="Tutorial 4"
          />
        </a>
        <div class="card-body">
          <h5 class="card-title">Tutorial 4</h5>
        </div>
      </div>
    </div>

    <!-- Video 5 -->
    <div class="col-md-6 col-lg-4">
      <div class="card shadow h-100">
        <a href="https://youtu.be/j5_471mO14c" target="_blank">
          <img
            src="https://img.youtube.com/vi/j5_471mO14c/maxresdefault.jpg"
            class="card-img-top"
            alt="Tutorial 5"
          />
        </a>
        <div class="card-body">
          <h5 class="card-title">Tutorial 5</h5>
        </div>
      </div>
    </div>

    <!-- Video 6 -->
    <div class="col-md-6 col-lg-4">
      <div class="card shadow h-100">
        <a href="https://youtu.be/grzBWXN0oxI" target="_blank">
          <img
            src="https://img.youtube.com/vi/grzBWXN0oxI/maxresdefault.jpg"
            class="card-img-top"
            alt="Tutorial 6"
          />
        </a>
        <div class="card-body">
          <h5 class="card-title">Tutorial 6</h5>
        </div>
      </div>
    </div>

    <!-- Video 7 -->
    <div class="col-md-6 col-lg-4">
      <div class="card shadow h-100">
        <a href="https://youtu.be/Zv9u0aLkfK0" target="_blank">
          <img
            src="https://img.youtube.com/vi/Zv9u0aLkfK0/maxresdefault.jpg"
            class="card-img-top"
            alt="Tutorial 7"
          />
        </a>
        <div class="card-body">
          <h5 class="card-title">Tutorial 7</h5>
        </div>
      </div>
    </div>

    <!-- Video 8 -->
    <div class="col-md-6 col-lg-4">
      <div class="card shadow h-100">
        <a href="https://youtu.be/nEwHL9GRuFk" target="_blank">
          <img
            src="https://img.youtube.com/vi/nEwHL9GRuFk/maxresdefault.jpg"
            class="card-img-top"
            alt="Tutorial 8"
          />
        </a>
        <div class="card-body">
          <h5 class="card-title">Tutorial 8</h5>
        </div>
      </div>
    </div>

    <!-- Video 9 -->
    <div class="col-md-6 col-lg-4">
      <div class="card shadow h-100">
        <a href="https://youtu.be/gERszKkxZOw" target="_blank">
          <img
            src="https://img.youtube.com/vi/gERszKkxZOw/maxresdefault.jpg"
            class="card-img-top"
            alt="Tutorial 9"
          />
        </a>
        <div class="card-body">
          <h5 class="card-title">Tutorial 9</h5>
        </div>
      </div>
    </div>

    <!-- Video 10 -->
    <div class="col-md-6 col-lg-4">
      <div class="card shadow h-100">
        <a href="https://youtu.be/ol7PQ_arWPg" target="_blank">
          <img
            src="https://img.youtube.com/vi/ol7PQ_arWPg/maxresdefault.jpg"
            class="card-img-top"
            alt="Tutorial 10"
          />
        </a>
        <div class="card-body">
          <h5 class="card-title">Tutorial 10</h5>
        </div>
      </div>
    </div>

    <!-- Video 11 -->
    <div class="col-md-6 col-lg-4">
      <div class="card shadow h-100">
        <a href="https://youtu.be/TnnQRfQafVA" target="_blank">
          <img
            src="https://img.youtube.com/vi/TnnQRfQafVA/hqdefault.jpg"
            class="card-img-top"
            alt="Tutorial 11"
          />
        </a>
        <div class="card-body">
          <h5 class="card-title">Tutorial 11</h5>
        </div>
      </div>
    </div>

    <!-- Video 12 -->
    <div class="col-md-6 col-lg-4">
      <div class="card shadow h-100">
        <a href="https://youtu.be/pHMoPh6mzm4" target="_blank">
          <img
            src="https://img.youtube.com/vi/pHMoPh6mzm4/hqdefault.jpg"
            class="card-img-top"
            alt="Tutorial 12"
          />
        </a>
        <div class="card-body">
          <h5 class="card-title">Tutorial 12</h5>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
